@import url(http://fonts.googleapis.com/css?family=Arvo|Amethysta);

body {
	font-family: 'Amethysta', Georgia, "Times New Roman", serif;
}

h1, h2, h3, h4 {
	font-family: 'Arvo', Helvetica, Arial, sans-serif;
	color: #d5302c;
}

header h1 {
	margin:  1em 0 1em 2em;
	font-size: 2.5em;
	line-height: 1.4em;
	text-align: left;
}

article header h1 {
	margin:  1em auto;	
}

article h2 {
	font-size: 1.5em;
	margin: 0em auto 0 auto;
}

a {
	color: #0041a8;
	font-style: inherit;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

em {
	font-style: italic;
}

strong {
	font-weight: bold;
}

section, article, a#homepage {
	max-width: 56em;
	line-height: 2em;
	margin: 0 auto;
	padding: 0 6em;
}

article {
	font-size: 1em;
	line-height: 2em;
}

article p {
	margin: 1.5em 2em 0.5em 2em;
}

article figure {
	width: 100%;
	margin: 3em 0;
}

article figure img {
	display:  block;
	margin: 0 auto;
}

article figure figcaption {
	width: 100%;
	font-size: 0.8em;
	font-style: italic;
	color: #636363;
	text-align: center;
	margin: auto;
	padding: 0 0.2em 0 0.2em;
}

article img.border {
	border: 0.1em solid black;
}

article blockquote {
	margin: 2em 4em 2em 4em;
	font-style: italic;
	color: #5b5b5b;
	font-size: 1em;
}

article ul {
	margin-left: 2em;
	list-style-type: square;
	list-style-position: outside;
}

aside {
	margin: 6em;
	font-size: 0.8em;
	text-align: center;
}

aside p {
	margin: 1.5em 0 1.5em 0;
}

hr {
	position: relative;
	border : 0;
	height : 38px;
	width: 58px;
	margin: 2.5em auto 2.5em auto;
	background: url(../images/tilde.png) 0 0 no-repeat;
}

acronym {
	border-bottom: 0.1em dashed #000;
}

a:hover acronym {
	text-decoration: none;
}

section#about p {
	margin: 1em 1em 0 0;
}

section#essays {
	margin-bottom: 4em;
}

section#essays h2 {
	margin: 1.6em 0 0.6em 0;
	font-size: 1.6em;
}

section#essays ul {
	list-style-position: inside;
	list-style-type: square;
}

section#essays ul li {
	padding-top: 0.8em;
	font-size: 1.2em;
}

section#essays h3 {
	padding: 0 0 0.6em 1em;
}

a#homepage {
	display: block;
	margin-top: 2em;
	font-size: 1.1em;
}

article table {
	margin: 3em 3.5em;
}

article table thead td {
	padding: 0.8em 1.2em 0.2em 1em;
	font-size: 1em;
	width: 50%;
}

article table thead h3 {
	border-bottom: 0.1em solid #d5302c;
}

article table tbody td {
	padding: 0.8em 1.2em 0.2em 1.2em;
	font-size: 0.9em;
}

article table tbody td p {
	margin: 0;
}

article p#meta {
	text-align: right;
	margin: 0 4em 2.5em 0;
	font-style: italic;
	font-size: 0.8em;
}

article dl {
	margin: 0 0 0 2em;
}

article dt {
	margin-top: 2.5em;
	font-weight: bold;
}

article dd p {
	margin: 1.5em 2em 0 2em;
}

article aside {
	text-align: left;
	font-size: 0.8em;
	margin: 5em;
	border-left: 0.4em solid #636363;
}

article aside p {
	padding-left:  1em;
}

article aside dfn {
	color: #636363;
	font-weight: bold;
}

p#signature {
	padding: 2em;
	font-size: 1.1em;
	text-align: right;
	font-style: italic;
}

p#signature span {
	padding-left: 0.4em;
	font-weight: bolder;
	text-decoration: underline;
}

.gist {
	margin: 3em auto;
	max-width: 56em;
	font-size: 0.8em;
}