<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  {% if page.meta_title %}
  <title>{{ page.meta_title }}</title>
  {% else %}
  <title>{{ page.title }}</title>
  {% endif %}
  <meta name="description" content="{{ page.description }}" />
  <link rel="shortcut icon" href="/images/favicon.ico" />
  <link rel="stylesheet" type="text/css" href="/css/reset.css" media="all" />
  <link rel="stylesheet" type="text/css" href="/css/screen.css" media="screen" />
  <link rel="alternate" type="application/rss+xml" title="NoFeed ~ No Music for the Masses" href="http://feeds.feedburner.com/nofeed" />
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-29408123-1']);
    _gaq.push(['_trackPageview']);
    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  <script type="text/javascript" src="/javascripts/modernizr.js"></script>
</head>

<body>
  
  {{ content }}
  
<body>

</html>
